* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #1E1E1E;
    --grey: #EFECE7;
    --white: #ffffff;
}

html {
    font-size: calc(100vw / 1512 * 10);
}

@media (max-width: 991px) {
    html {
        font-size: calc(100vw / 990* 10);
    }
}

@media (max-width: 479px) {
    html {
        font-size: calc(100vw / 390* 10);
    }
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    line-height: 1.4;
}

body[data-theme="light"] {
    background-color: var(--grey);
}

body[data-theme="light"] .section {
    color: var(--black);
}

body[data-theme="dark"] {
    background-color: var(--black);
}

body[data-theme="dark"] .section {
    color: var(--white);
}

.font-poppins {
    font-family: "Poppins", serif;
}

.font-dm-serif {
    font-family: "DM Serif Display", serif;
}

.font-ibm-serif {
    font-family: "IBM Plex Serif", serif;
}

.scroll:before {
    content: '';
    position: absolute;
    height: 20px;
    border-right: 1px solid var(--white);
    top: -100%;
}

body {
    transition: background-color 0.5s ease-out;
}

.hero-heading {
    font-size: clamp(5vw, 5rem, 10vw);
}

.info-heading {
    font-size: clamp(3vw, 4rem, 4vw);
}